@keyframes scale-in {
  0% {
    background-size:200%;
  }
  100% {
    background-size: 100%;
  }
}
@-moz-keyframes scale-in {
  0% { 
    background-size:200%;
   }
  100% { 
    background-size:100%;
  }
}

@-webkit-keyframes scale-in {
  0% { 
    background-size:200%;
   }
  100% { 
    background-size:100%;
  }
}

@-o-keyframes scale-in {
  0% { 
    background-size:200%;
   }
  100% { 
    background-size:100%;
  }
}

@-ms-keyframes scale-in {
  0% { 
    background-size:200%;
   }
  100% { 
    background-size:100%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-moz-keyframes slideIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}

@-o-keyframes slideIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}

@-ms-keyframes slideIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}
// fade in animation //
@keyframes fadeIn {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
    }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.myHero {
    background-image: url("../../assets/parish-outside.jpeg");
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .welcome {
    margin-top: 35vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .stMark {
    margin-top: 5vh;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    animation: slideIn 2s ease;
    font-size: 4em;
  }
  
  .outline {
    outline: red 1px solid;
  }

  .page-name {
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    margin-top: -1.5em;
    color: white;
    padding-left: 10px;
    animation: fadeIn 2s normal forwards;
  }

  @media only screen and (min-width:1060px) {
    .myHero {
      animation: scale-in 2s;
    }
  }