* {
    font-family: American Typewriter;
}
.bg-success {
    background-color: #FFF8DC !important;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.5);
  }
  .nav-link {
    font-family: American Typewriter !important;
  }

  .nav-link:hover {
    background-color: #3CB371;
    transition: 1s all ease;
    align-items:center;
  }