@keyframes slideIn {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideIn {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(0%);
  }
}

@-o-keyframes slideIn {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(0%);
  }
}

@-ms-keyframes slideIn {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(0%);
  }
}
* {
    font-family: American Typewriter;
}

.church-logo img {
    height: 75px;
}
.bg-diff {
    background-color: #850A0A !important;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.5);
  }
  .offcanvas-title {
    font-size: 35px !important;
  }
  .nav-link {
    font-family: American Typewriter !important;
    font-size: 35px !important;
  }

  .nav-link:hover {
    background-color: #A70B0B;
    transition: 1s all ease;
    align-items:center;
  }

  .link {
    font-size: 2em;
  }

  .donate-button {
    background-color: #f1ba0a;
    font-size: 35px;
    text-decoration: none;
    border:1px solid;
    border-radius: 25px;
    padding: 5px;
  }

  .donate-button:hover {
    background-color: #fedd00;
    
  }
  
  .top-container {
    margin-top: 25px;
  }

  .page-title {
    padding-top: 85px;
    background-color: #db0f27;
  }